<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>채팅 서비스</title>-->
<!--    &lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">-->

<!--    &lt;!&ndash; 부가적인 테마 &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">-->

<!--    &lt;!&ndash; 합쳐지고 최소화된 최신 자바스크립트 &ndash;&gt;-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->


<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;<input type="text" id="nickname" class="form-inline" placeholder="닉네임을 입력해주세요" required autofocus>&ndash;&gt;-->
<!--&lt;!&ndash;<button class = "btn btn-primary" id = "name">확인</button>&ndash;&gt;-->
<!--&lt;!&ndash;<label for="roomId" class="label label-default">방 번호</label>&ndash;&gt;-->
<!--&lt;!&ndash;<label th:text="*{room.roomId}" id="roomId" class="form-inline"></label>&ndash;&gt;-->
<!--&lt;!&ndash;<br>&ndash;&gt;-->
<!--<label for="roomName" class="label label-default">방 이름</label>-->
<!--<label th:text="*{room.name}" id="roomName" class="form-inline"></label>-->
<!--<div id = "chatroom" style = "overflow:auto; width:400px;  height: 600px; border:1px solid; background-color : gray"></div>-->
<!--<input type = "text" id = "message" style = "height : 30px; width : 340px" placeholder="내용을 입력하세요" autofocus>-->
<!--<button class = "btn btn-primary" id = "send">전송</button>-->
<!--&lt;!&ndash;<button class = "btn btn-primary" id = "board" onclick="goBoard()">퇴장</button>&ndash;&gt;-->
<!--<div>-->
<!--    <button id = "exit" onclick="history.back()">퇴장</button>-->
<!--</div>-->
<!--<script>-->

<!--</script>-->
<!--<div class="modal fade" id="pop" role="dialog">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h4 class="modal-title">알림!</h4>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                페이지를 나가면 채팅기록이 사라집니다. 정말로 종료하시겠습니까?-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-default" id = "y">예</button>-->
<!--                <button type="button" class="btn btn-default" id = "n">아니오</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--</body>-->
<!--<script th:inline = "javascript">-->
<!--    var webSocket;-->
<!--    var nickname = /*[[${member.name}]]*/;-->
<!--    /* <![CDATA[*/-->
<!--    var roomId = /*[[${room.roomId}]]*/;-->
<!--    /* ]]> */-->

<!--    connect();-->
<!--    // document.getElementById("name").addEventListener("click",function(){-->
<!--    //     // nickname = document.getElementById("nickname").value;-->
<!--    //     document.getElementById("nickname").style.display = "none";-->
<!--    //     document.getElementById("name").style.display = "none";-->
<!--    //     connect();-->
<!--    // })-->
<!--    document.getElementById("send").addEventListener("click",function(){-->
<!--        send();-->
<!--    })-->
<!--    document.getElementById("exit").addEventListener("click",function(){-->
<!--        disconnect();-->
<!--    })-->

<!--    function connect(){-->
<!--        // webSocket = new WebSocket("ws://localhost:8080/chat");-->
<!--        // webSocket = new WebSocket("ws://172.30.1.49:8080/chat");-->
<!--        webSocket = new WebSocket("ws://192.168.0.19:8080/chat");-->
<!--        webSocket.onopen = onOpen;-->
<!--        webSocket.onclose = onClose;-->
<!--        webSocket.onmessage = onMessage;-->
<!--    }-->
<!--    function disconnect(){-->
<!--        webSocket.send(JSON.stringify({chatRoomId : roomId,type:'LEAVE',writer:nickname}));-->
<!--        webSocket.close();-->
<!--    }-->
<!--    function send(){-->
<!--        msg = document.getElementById("message").value;-->
<!--        webSocket.send(JSON.stringify({chatRoomId : roomId,type:'CHAT',writer:nickname,message : msg}));-->
<!--        document.getElementById("message").value = "";-->
<!--    }-->
<!--    function onOpen(){-->
<!--        webSocket.send(JSON.stringify({chatRoomId : roomId,type:'ENTER',writer:nickname}));-->
<!--    }-->
<!--    function onMessage(e){-->
<!--        data = e.data;-->
<!--        chatroom = document.getElementById("chatroom");-->
<!--        chatroom.innerHTML = chatroom.innerHTML + "<br>" + data;-->
<!--    }-->
<!--    function onClose(){-->
<!--        disconnect();-->
<!--    }-->

<!--    function goBoard(){-->
<!--        $("#pop").modal();-->
<!--        document.getElementById("y").onclick = function(){-->
<!--            webSocket.send(JSON.stringify({type:'LEAVE',writer:nickname}));-->
<!--            webSocket.close();-->
<!--            // window.location.href="/board/lists/1";-->
<!--            window.location.href = "/chat/";-->
<!--        }-->
<!--        document.getElementById("n").onclick = function(){-->
<!--            $("#pop").modal("hide");-->
<!--        }-->
<!--    }-->
<!--    window.onbeforeunload = function(e){-->
<!--        webSocket.send(JSON.stringify({type:'LEAVE',writer:nickname}));-->
<!--        webSocket.close();-->
<!--    };-->

<!--</script>-->
<!--</html>-->